<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="footer py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12 mb-3">
        <a class="footer-brand" href="#"> NEW <span>MOVIE</span> </a>
        <p class="location mb-0">
          <i class="fas fa-map-marker-alt"></i>
          Movie Web Việt Nam
        </p>
      </div>

      <div class="col-lg-3 col-md-4 col-6 mb-3">
        <h5 class="mb-3">KHÁM PHÁ</h5>
        <ul class="footer-links list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-decoration-none">Trung tâm hỗ trợ</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none">Tài khoản</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none">Cách xem</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none">Chỉ có tại NEW MOVIE</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-4 col-6 mb-3">
        <h5 class="mb-3">PHÁP LÝ</h5>
        <ul class="footer-links list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-decoration-none">Điều khoản sử dụng</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none">Chính sách bảo mật</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none">Cookie</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none">Thông tin doanh nghiệp</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none">Thông báo pháp lý</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-4 col-6 mb-3">
        <h5 class="mb-3">HỖ TRỢ</h5>
        <ul class="footer-links list-unstyled mb-0">
          <li class="mb-2"><a href="#" class="text-decoration-none">FAQ</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none">Kiểm tra tốc độ</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none">Liên hệ</a></li>
          <li class="mb-2"><a href="#" class="text-decoration-none">Trung tâm đa phương tiện</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html> 